<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Espn test suite">
    <parameter name="username" value="test@globant.com"></parameter>
    <parameter name="password" value="1234567890"></parameter>
    <test name="Log in test">
        <groups>
            <run>
                <include name="Espn"></include>
            </run>
        </groups>
        <classes>
            <class name="EspnLogInTest"></class>
            <class name="EspnLogOutTest"></class>
            <class name="EspnDeactivateTest"></class>
        </classes>
    </test>
</suite> <!-- Suite -->